{{ template "header.tmpl" .}}
<div class="row">
  <div class="col-md-10 mx-auto rounded bg-white">
    <div class="row">
      <div class="col-md-5">
        <div class="d-flex align-items-center justify-content-center">
          <img
            src="/views/static/logos/sad.svg"
            alt="network-connectivity"
            class="img-fluid p-5"
          />
        </div>
      </div>
       <div class="col-md-7 d-flex align-items-center justify-content-center">
        <div class="full-width-text text-center">
          <h3>{{.Content}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{{ template "footer.tmpl" .}}